<form class="text-center mt-4" action="/restaurants/new" method="POST">
  <input type="text" placeholder="restaurant name" name="name" style="">
  <button class="btn btn-primary btn-sm" type="submit">Create!</button>
  <a href="/" class="btn btn-secondary btn-sm">back</a>
</form>